#dientes_all{ width: 320px; position:relative; }
#op_puente{ width:48px; position:absolute; top:45%; left:46%; margin-left:-13px; margin-top: -25px; outline: none; }
#op_removible{ width:76px; position:absolute; top:44%; left:49%; margin-left:-36px; margin-top: -81px; outline: none; }
#box_down_rmv{ margin-top: 71px; }
#btn_puente2{ width: 43px; height: 43px; border: 0; outline: none;}
.puente_op_on{ background: url('img/puente_op_on.png') no-repeat; background-size: contain;}
.puente_op_off{ background: url('img/puente_op_off.png') no-repeat; background-size: contain;}

#corona,#implante,#puente,#removible,#up_rmv,#down_rmv,#btn_puente{ border:0; cursor:pointer; outline:0; }

.corona_off{ background: url('img/crown.png') no-repeat;}
.corona_on{ background: url('img/crown_hover.png') no-repeat;}

.implante_on{ background: url('img/implant_hover.png') no-repeat;}
.implante_off{ background: url('img/implant.png') no-repeat;}

.puente_on{ background: url('img/bridge_hover.png') no-repeat;}
.puente_off{ background: url('img/bridge.png') no-repeat;}

.removible_off{background: url('img/removable.png') no-repeat;}
.removible_on { background: url('img/removable_hover.png') no-repeat bottom; }
#corona,#implante,#puente,#removible{ width: 54px; height: 54px;}
#up_rmv,#down_rmv{ width: 43px; height: 43px; }
.color_txt label{ color:#000000; display: block; text-align: center;  }
.rmv_off{ background: url('img/up_off.png') no-repeat; background-size: contain; }
.rmv_on{ background: url('img/up_on.png') no-repeat; background-size: contain;}
.circle-base{ width: 10%; height: auto; padding-top: 10%; border-radius: 50%;}
#op_1{ background: #239bd9; }
#op_2{ background: #d9edf7; }
#op_3{ background: #000000; }